<h1>Auth0 Angular + .net Core API</h1>
<p>Sample Implementation of an Angular 5 SPA applications that authenticates using Auth0 as an identity provider and securely communicates with a server side application built on .net Core Web API backend.</p>

<ul>
  <li><a href='https://auth0.com/docs/'>Auth0 official documentation</a></li>
  <li><a href="https://github.com/auth0-samples/auth0-angular-samples">Official Samples</a>. This code is based on the samples provided by Auth0</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.1'>ASP.NET Core Web APIs</a> for server-side data and processing</li>
</ul>
<p>Instructions</p>
<ul>
  <li>To execute, start the Client and Server application at the same time</li>
  <li>Login and create a new registered user</li>
  <li>Click on the navigation options to verify that the SPA is retrieving protected information from the server</li>
</ul>

